.app {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
}

.screen-display {
  margin-right: 8px;
  height: 120px;
  font-size: 23px;
  text-align: right;
  display: flex;
  flex-direction: column;
  vertical-align: bottom;
}


